In [93]:
!pip install mysql

Collecting mysql
  Using cached mysql-0.0.3-py3-none-any.whl.metadata (746 bytes)
Collecting mysqlclient (from mysql)
  Using cached mysqlclient-2.2.7-cp311-cp311-win_amd64.whl.metadata (4.8 kB)
Using cached mysql-0.0.3-py3-none-any.whl (1.2 kB)
Using cached mysqlclient-2.2.7-cp311-cp311-win_amd64.whl (207 kB)
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.2.7

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\RNIT\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [78]:
import mysql.connector

In [50]:
import mysql.connector
connection = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '123456789'
)
cursor = connection.cursor()

In [51]:
cursor.execute('create database if not exists Agri')

In [52]:
cursor.execute('use Agri')

In [97]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\rnit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\rnit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rnit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rnit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rnit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\rnit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\RNIT\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [53]:
import pandas as pd
path = r'C:\Users\RNIT\Desktop\RNIT\ICRISAT-District Level Data - ICRISAT-District Level Data (1).csv'
df = pd.read_csv(path)
df

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,548.00,185.00,337.59,44.00,20.00,...,1777.78,0.0,0.0,0.0,5.95,6.64,12.59,0.01,0.60,0.47
1,1,1967,14,Chhattisgarh,Durg,547.00,409.00,747.71,50.00,26.00,...,1500.00,0.0,0.0,0.0,5.77,7.24,13.02,0.01,0.56,1.23
2,1,1968,14,Chhattisgarh,Durg,556.30,468.00,841.27,53.70,30.00,...,1000.00,0.0,0.0,0.0,5.41,7.40,12.81,0.10,0.58,1.02
3,1,1969,14,Chhattisgarh,Durg,563.40,400.80,711.40,49.40,26.50,...,1900.00,0.0,0.0,0.0,5.52,7.16,12.69,0.01,0.56,0.84
4,1,1970,14,Chhattisgarh,Durg,571.60,473.60,828.55,44.20,29.00,...,2000.00,0.0,0.0,0.0,5.45,7.19,12.64,0.02,0.52,0.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16141,917,2013,15,Jharkhand,Singhbhum,267.06,579.70,2170.67,1.53,1.85,...,0.00,0.0,0.0,0.0,0.00,9.02,9.03,0.48,0.08,0.00
16142,917,2014,15,Jharkhand,Singhbhum,256.33,586.63,2288.57,5.36,6.65,...,0.00,0.0,0.0,0.0,0.00,8.63,8.64,0.46,0.04,0.00
16143,917,2015,15,Jharkhand,Singhbhum,263.21,264.71,1005.70,1.99,1.82,...,0.00,0.0,0.0,0.0,0.00,6.84,6.85,0.42,0.01,0.00
16144,917,2016,15,Jharkhand,Singhbhum,224.05,319.01,1423.84,0.38,0.83,...,0.00,0.0,0.0,0.0,0.03,6.40,6.43,0.03,0.01,0.00
16145,917,2017,15,Jharkhand,Singhbhum,386.91,669.97,1731.62,0.00,0.00,...,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00

In [54]:
columns_to_drop = [
    'Dist Code', 'State Code', 
    'KHARIF SORGHUM AREA (1000 ha)', 
    'KHARIF SORGHUM YIELD (Kg per ha)',
    'RABI SORGHUM AREA (1000 ha)',
    'RABI SORGHUM YIELD (Kg per ha)',
    'SORGHUM AREA (1000 ha)', 
    'SORGHUM YIELD (Kg per ha)',
    'PEARL MILLET AREA (1000 ha)', 'PEARL MILLET PRODUCTION (1000 tons)',
    'PEARL MILLET YIELD (Kg per ha)',
    'FINGER MILLET AREA (1000 ha)', 'FINGER MILLET PRODUCTION (1000 tons)',
    'FINGER MILLET YIELD (Kg per ha)',
    'BARLEY AREA (1000 ha)', 'BARLEY PRODUCTION (1000 tons)',
    'BARLEY YIELD (Kg per ha)',
    'CHICKPEA AREA (1000 ha)', 'CHICKPEA PRODUCTION (1000 tons)',
    'CHICKPEA YIELD (Kg per ha)',
    'PIGEONPEA AREA (1000 ha)', 'PIGEONPEA PRODUCTION (1000 tons)',
    'PIGEONPEA YIELD (Kg per ha)',
    'MINOR PULSES AREA (1000 ha)', 'MINOR PULSES PRODUCTION (1000 tons)',
    'MINOR PULSES YIELD (Kg per ha)',
    'SESAMUM AREA (1000 ha)', 'SESAMUM PRODUCTION (1000 tons)',
    'SESAMUM YIELD (Kg per ha)',
    'RAPESEED AND MUSTARD AREA (1000 ha)', 'RAPESEED AND MUSTARD PRODUCTION (1000 tons)',
    'RAPESEED AND MUSTARD YIELD (Kg per ha)',
    'FRUITS AREA (1000 ha)', 'VEGETABLES AREA (1000 ha)',
    'FRUITS AND VEGETABLES AREA (1000 ha)',
    'POTATOES AREA (1000 ha)', 'ONION AREA (1000 ha)',
    'FODDER AREA (1000 ha)'
]

df = df.drop(columns=columns_to_drop,errors='ignore')

In [55]:
df.columns

Index(['Year', 'State Name', 'Dist Name', 'RICE AREA (1000 ha)',
       'RICE PRODUCTION (1000 tons)', 'RICE YIELD (Kg per ha)',
       'WHEAT AREA (1000 ha)', 'WHEAT PRODUCTION (1000 tons)',
       'WHEAT YIELD (Kg per ha)', 'KHARIF SORGHUM PRODUCTION (1000 tons)',
       'RABI SORGHUM PRODUCTION (1000 tons)', 'SORGHUM PRODUCTION (1000 tons)',
       'MAIZE AREA (1000 ha)', 'MAIZE PRODUCTION (1000 tons)',
       'MAIZE YIELD (Kg per ha)', 'GROUNDNUT AREA (1000 ha)',
       'GROUNDNUT PRODUCTION (1000 tons)', 'GROUNDNUT YIELD (Kg per ha)',
       'SAFFLOWER AREA (1000 ha)', 'SAFFLOWER PRODUCTION (1000 tons)',
       'SAFFLOWER YIELD (Kg per ha)', 'CASTOR AREA (1000 ha)',
       'CASTOR PRODUCTION (1000 tons)', 'CASTOR YIELD (Kg per ha)',
       'LINSEED AREA (1000 ha)', 'LINSEED PRODUCTION (1000 tons)',
       'LINSEED YIELD (Kg per ha)', 'SUNFLOWER AREA (1000 ha)',
       'SUNFLOWER PRODUCTION (1000 tons)', 'SUNFLOWER YIELD (Kg per ha)',
       'SOYABEAN AREA (1000 ha)', 'SOYABEAN PRODUCTION (1000 tons)',
       'SOYABEAN YIELD (Kg per ha)', 'OILSEEDS AREA (1000 ha)',
       'OILSEEDS PRODUCTION (1000 tons)', 'OILSEEDS YIELD (Kg per ha)',
       'SUGARCANE AREA (1000 ha)', 'SUGARCANE PRODUCTION (1000 tons)',
       'SUGARCANE YIELD (Kg per ha)', 'COTTON AREA (1000 ha)',
       'COTTON PRODUCTION (1000 tons)', 'COTTON YIELD (Kg per ha)'],
      dtype='object')

In [56]:
df

,Year,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),WHEAT YIELD (Kg per ha),KHARIF SORGHUM PRODUCTION (1000 tons),...,SOYABEAN YIELD (Kg per ha),OILSEEDS AREA (1000 ha),OILSEEDS PRODUCTION (1000 tons),OILSEEDS YIELD (Kg per ha),SUGARCANE AREA (1000 ha),SUGARCANE PRODUCTION (1000 tons),SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha)
0,1966,Chhattisgarh,Durg,548.00,185.00,337.59,44.00,20.00,454.55,0.40,...,0.00,50.70,-1.00,-1.00,0.9,1.6,1777.78,0.0,0.0,0.0
1,1967,Chhattisgarh,Durg,547.00,409.00,747.71,50.00,26.00,520.00,0.90,...,0.00,113.55,-1.00,-1.00,0.8,1.2,1500.00,0.0,0.0,0.0
2,1968,Chhattisgarh,Durg,556.30,468.00,841.27,53.70,30.00,558.66,0.40,...,0.00,126.62,-1.00,-1.00,1.0,1.0,1000.00,0.0,0.0,0.0
3,1969,Chhattisgarh,Durg,563.40,400.80,711.40,49.40,26.50,536.44,0.60,...,0.00,114.14,14.90,130.54,1.0,1.9,1900.00,0.0,0.0,0.0
4,1970,Chhattisgarh,Durg,571.60,473.60,828.55,44.20,29.00,656.11,0.60,...,0.00,126.40,24.30,192.25,0.7,1.4,2000.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16141,2013,Jharkhand,Singhbhum,267.06,579.70,2170.67,1.53,1.85,1209.15,0.00,...,0.00,1.33,1.58,1187.97,0.0,0.0,0.00,0.0,0.0,0.0
16142,2014,Jharkhand,Singhbhum,256.33,586.63,2288.57,5.36,6.65,1240.67,0.00,...,0.00,1.27,0.84,661.42,0.0,0.0,0.00,0.0,0.0,0.0
16143,2015,Jharkhand,Singhbhum,263.21,264.71,1005.70,1.99,1.82,914.57,0.00,...,0.00,1.42,0.95,669.01,0.0,0.0,0.00,0.0,0.0,0.0
16144,2016,Jharkhand,Singhbhum,224.05,319.01,1423.84,0.38,0.83,2167.98,0.00,...,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
16145,2017,Jharkhand,Singhbhum,386.91,669.97,1731.62,0.00,0.00,0.00,0.79,...,645.39,0.00,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0

In [61]:
query = ('''
            CREATE TABLE IF NOT EXISTS agri_data (
             Year INTEGER,
             State_Name TEXT,
             Dist_Name TEXT,

             RICE_AREA_1000_ha REAL,
             RICE_PRODUCTION_1000_tons REAL,
             RICE_YIELD_Kg_per_ha REAL,

             WHEAT_AREA_1000_ha REAL,
             WHEAT_PRODUCTION_1000_tons REAL,
             WHEAT_YIELD_Kg_per_ha REAL,
     
             KHARIF_SORGHUM_PRODUCTION_1000_tons REAL,
             RABI_SORGHUM_PRODUCTION_1000_tons REAL,
             SORGHUM_PRODUCTION_1000_tons REAL,

             GROUNDNUT_AREA_1000_ha REAL,
             GROUNDNUT_PRODUCTION_1000_tons REAL,
             GROUNDNUT_YIELD_Kg_per_ha REAL,
         
             MAIZE_AREA_1000_ha REAL,
             MAIZE_PRODUCTION_1000_tons REAL,
             MAIZE_YIELD_Kg_per_ha REAL,

             SAFFLOWER_AREA_1000_ha REAL,
             SAFFLOWER_PRODUCTION_1000_tons REAL,
             SAFFLOWER_YIELD_Kg_per_ha REAL,

             CASTOR_AREA_1000_ha REAL,
             CASTOR_PRODUCTION_1000_tons REAL,
             CASTOR_YIELD_Kg_per_ha REAL,

             LINSEED_AREA_1000_ha REAL,
             LINSEED_PRODUCTION_1000_tons REAL,
             LINSEED_YIELD_Kg_per_ha REAL,

             SUNFLOWER_AREA_1000_ha REAL,
             SUNFLOWER_PRODUCTION_1000_tons REAL,
             SUNFLOWER_YIELD_Kg_per_ha REAL,

             SOYABEAN_AREA_1000_ha REAL,
             SOYABEAN_PRODUCTION_1000_tons REAL,
             SOYABEAN_YIELD_Kg_per_ha REAL,

             OILSEEDS_AREA_1000_ha REAL,
             OILSEEDS_PRODUCTION_1000_tons REAL,
             OILSEEDS_YIELD_Kg_per_ha REAL,

             SUGARCANE_AREA_1000_ha REAL,
             SUGARCANE_PRODUCTION_1000_tons REAL,
             SUGARCANE_YIELD_Kg_per_ha REAL
)
''')
cursor.execute(query)
connection.commit()

In [63]:
# Step 1: Get existing columns from agri_data
cursor.execute("SHOW COLUMNS FROM agri_data;")
existing_columns = [row[0] for row in cursor.fetchall()]

# Step 2: Prepare list of missing cotton columns
columns_to_add = []

if 'COTTON_AREA_1000_ha' not in existing_columns:
    columns_to_add.append("ADD COLUMN COTTON_AREA_1000_ha FLOAT")

if 'COTTON_PRODUCTION_1000_tons' not in existing_columns:
    columns_to_add.append("ADD COLUMN COTTON_PRODUCTION_1000_tons FLOAT")

if 'COTTON_YIELD_Kg_per_ha' not in existing_columns:
    columns_to_add.append("ADD COLUMN COTTON_YIELD_Kg_per_ha FLOAT")

# Step 3: If any columns need to be added, run ALTER TABLE
if columns_to_add:
    alter_query = f"ALTER TABLE agri_data {', '.join(columns_to_add)};"
    cursor.execute(alter_query)
    connection.commit()
    print("Missing cotton columns added successfully.")
else:
    print("All cotton columns already exist. Nothing to change.")

Missing cotton columns added successfully.

In [62]:
##'COTTON AREA (1000 ha)', 'COTTON PRODUCTION (1000 tons)', 'COTTON YIELD (Kg per ha)',
alter_query = '''
                ALTER TABLE agri_data 
                ADD COLUMN COTTON_AREA_1000_ha FLOAT,
                ADD COLUMN COTTON_PRODUCTION_1000_tons FLOAT,
                ADD COLUMN COTTON_YIELD_Kg_per_ha FLOAT;
'''

# Execute the SQL
cursor.execute(alter_query)
connection.commit()  # Don't forget to commit changes
print("Columns for cotton added successfully.")

ProgrammingError: 1060 (42S21): Duplicate column name 'COTTON_PRODUCTION_1000_tons'

In [ ]:
# SQL command to alter table and add columns
alter_query = '''
ALTER TABLE agri_data if not exists
ADD COLUMN MAIZE_AREA_1000_ha FLOAT,
ADD COLUMN MAIZE_PRODUCTION_1000_tons FLOAT,
ADD COLUMN MAIZE_YIELD_Kg_per_ha FLOAT;
'''

# Execute the SQL
cursor.execute(alter_query)
connection.commit()  # Don't forget to commit changes
print("Columns for MAIZE added successfully.")

In [64]:
cursor.execute("SHOW COLUMNS FROM agri_data")
for col in cursor.fetchall():
    print(col[0])

Year
State_Name
Dist_Name
RICE_AREA_1000_ha
RICE_PRODUCTION_1000_tons
RICE_YIELD_Kg_per_ha
WHEAT_AREA_1000_ha
WHEAT_PRODUCTION_1000_tons
WHEAT_YIELD_Kg_per_ha
KHARIF_SORGHUM_PRODUCTION_1000_tons
RABI_SORGHUM_PRODUCTION_1000_tons
SORGHUM_PRODUCTION_1000_tons
GROUNDNUT_AREA_1000_ha
GROUNDNUT_PRODUCTION_1000_tons
GROUNDNUT_YIELD_Kg_per_ha
SAFFLOWER_AREA_1000_ha
SAFFLOWER_PRODUCTION_1000_tons
SAFFLOWER_YIELD_Kg_per_ha
CASTOR_AREA_1000_ha
CASTOR_PRODUCTION_1000_tons
CASTOR_YIELD_Kg_per_ha
LINSEED_AREA_1000_ha
LINSEED_PRODUCTION_1000_tons
LINSEED_YIELD_Kg_per_ha
SUNFLOWER_AREA_1000_ha
SUNFLOWER_PRODUCTION_1000_tons
SUNFLOWER_YIELD_Kg_per_ha
SOYABEAN_AREA_1000_ha
SOYABEAN_PRODUCTION_1000_tons
SOYABEAN_YIELD_Kg_per_ha
OILSEEDS_AREA_1000_ha
OILSEEDS_PRODUCTION_1000_tons
OILSEEDS_YIELD_Kg_per_ha
SUGARCANE_AREA_1000_ha
SUGARCANE_PRODUCTION_1000_tons
SUGARCANE_YIELD_Kg_per_ha
MAIZE_AREA_1000_ha
MAIZE_PRODUCTION_1000_tons
MAIZE_YIELD_Kg_per_ha
COTTON_PRODUCTION_1000_tons
COTTON_AREA_1000_ha
COTTON_YIELD_Kg_per_ha

In [23]:
query  = 'describe agri_data'
cursor.execute(query)
for info in cursor:
    print(info)

('Year', 'int', 'YES', '', None, '')
('State_Name', 'text', 'YES', '', None, '')
('Dist_Name', 'text', 'YES', '', None, '')
('RICE_AREA_1000_ha', 'double', 'YES', '', None, '')
('RICE_PRODUCTION_1000_tons', 'double', 'YES', '', None, '')
('RICE_YIELD_Kg_per_ha', 'double', 'YES', '', None, '')
('WHEAT_AREA_1000_ha', 'double', 'YES', '', None, '')
('WHEAT_PRODUCTION_1000_tons', 'double', 'YES', '', None, '')
('WHEAT_YIELD_Kg_per_ha', 'double', 'YES', '', None, '')
('KHARIF_SORGHUM_PRODUCTION_1000_tons', 'double', 'YES', '', None, '')
('RABI_SORGHUM_PRODUCTION_1000_tons', 'double', 'YES', '', None, '')
('SORGHUM_PRODUCTION_1000_tons', 'double', 'YES', '', None, '')
('GROUNDNUT_AREA_1000_ha', 'double', 'YES', '', None, '')
('GROUNDNUT_PRODUCTION_1000_tons', 'double', 'YES', '', None, '')
('GROUNDNUT_YIELD_Kg_per_ha', 'double', 'YES', '', None, '')
('SAFFLOWER_AREA_1000_ha', 'double', 'YES', '', None, '')
('SAFFLOWER_PRODUCTION_1000_tons', 'double', 'YES', '', None, '')
('SAFFLOWER_YIELD_Kg_per_ha', 'double', 'YES', '', None, '')
('CASTOR_AREA_1000_ha', 'double', 'YES', '', None, '')
('CASTOR_PRODUCTION_1000_tons', 'double', 'YES', '', None, '')
('CASTOR_YIELD_Kg_per_ha', 'double', 'YES', '', None, '')
('LINSEED_AREA_1000_ha', 'double', 'YES', '', None, '')
('LINSEED_PRODUCTION_1000_tons', 'double', 'YES', '', None, '')
('LINSEED_YIELD_Kg_per_ha', 'double', 'YES', '', None, '')
('SUNFLOWER_AREA_1000_ha', 'double', 'YES', '', None, '')
('SUNFLOWER_PRODUCTION_1000_tons', 'double', 'YES', '', None, '')
('SUNFLOWER_YIELD_Kg_per_ha', 'double', 'YES', '', None, '')
('SOYABEAN_AREA_1000_ha', 'double', 'YES', '', None, '')
('SOYABEAN_PRODUCTION_1000_tons', 'double', 'YES', '', None, '')
('SOYABEAN_YIELD_Kg_per_ha', 'double', 'YES', '', None, '')
('OILSEEDS_AREA_1000_ha', 'double', 'YES', '', None, '')
('OILSEEDS_PRODUCTION_1000_tons', 'double', 'YES', '', None, '')
('OILSEEDS_YIELD_Kg_per_ha', 'double', 'YES', '', None, '')
('SUGARCANE_AREA_1000_ha', 'double', 'YES', '', None, '')
('SUGARCANE_PRODUCTION_1000_tons', 'double', 'YES', '', None, '')
('SUGARCANE_YIELD_Kg_per_ha', 'double', 'YES', '', None, '')
('MAIZE_AREA_1000_ha', 'float', 'YES', '', None, '')
('MAIZE_PRODUCTION_1000_tons', 'float', 'YES', '', None, '')
('MAIZE_YIELD_Kg_per_ha', 'float', 'YES', '', None, '')
('COTTON_PRODUCTION_1000_tons', 'float', 'YES', '', None, '')

In [65]:
query =('''
        INSERT INTO agri_data (
         Year, State_Name, Dist_Name,
         RICE_AREA_1000_ha, RICE_PRODUCTION_1000_tons, RICE_YIELD_Kg_per_ha,
         WHEAT_AREA_1000_ha, WHEAT_PRODUCTION_1000_tons, WHEAT_YIELD_Kg_per_ha,
         KHARIF_SORGHUM_PRODUCTION_1000_tons, RABI_SORGHUM_PRODUCTION_1000_tons, SORGHUM_PRODUCTION_1000_tons,
         GROUNDNUT_AREA_1000_ha, GROUNDNUT_PRODUCTION_1000_tons, GROUNDNUT_YIELD_Kg_per_ha,
         MAIZE_AREA_1000_ha, MAIZE_PRODUCTION_1000_tons , MAIZE_YIELD_Kg_per_ha,
         SAFFLOWER_AREA_1000_ha, SAFFLOWER_PRODUCTION_1000_tons, SAFFLOWER_YIELD_Kg_per_ha,
         CASTOR_AREA_1000_ha, CASTOR_PRODUCTION_1000_tons, CASTOR_YIELD_Kg_per_ha,
         LINSEED_AREA_1000_ha, LINSEED_PRODUCTION_1000_tons, LINSEED_YIELD_Kg_per_ha,
         SUNFLOWER_AREA_1000_ha, SUNFLOWER_PRODUCTION_1000_tons, SUNFLOWER_YIELD_Kg_per_ha,
         SOYABEAN_AREA_1000_ha, SOYABEAN_PRODUCTION_1000_tons, SOYABEAN_YIELD_Kg_per_ha,
         OILSEEDS_AREA_1000_ha, OILSEEDS_PRODUCTION_1000_tons, OILSEEDS_YIELD_Kg_per_ha,
         SUGARCANE_AREA_1000_ha, SUGARCANE_PRODUCTION_1000_tons, SUGARCANE_YIELD_Kg_per_ha,
         COTTON_AREA_1000_ha ,COTTON_PRODUCTION_1000_tons,COTTON_YIELD_Kg_per_ha)
         VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s,%s,%s,%s,%s,%s)

''')
cursor.executemany(query,df.values.tolist())
connection.commit()

In [66]:
##Year-wise Trend of Rice Production Across States (Top 3)
query = '''
WITH TopStates AS (
    SELECT State_Name
    FROM agri_data
    GROUP BY State_Name
    ORDER BY SUM(RICE_PRODUCTION_1000_tons) DESC
    LIMIT 3
)
SELECT
    Year,
    State_Name,
    SUM(RICE_PRODUCTION_1000_tons) AS Total_Rice_Production
FROM agri_data
WHERE State_Name IN (SELECT State_Name FROM TopStates)
GROUP BY year,State_Name
ORDER BY Year ASC, Total_Rice_Production DESC
'''

cursor.execute(query)
results = cursor.fetchall()

# Optional: Print results
for row in results:
    print(row)

(1966, 'West Bengal', 28916.399999999994)
(1966, 'Uttar Pradesh', 14841.000000000004)
(1966, 'Punjab', 2028.0)
(1967, 'West Bengal', 29194.61999999998)
(1967, 'Uttar Pradesh', 17814.000000000007)
(1967, 'Punjab', 2490.0)
(1968, 'West Bengal', 32768.94000000001)
(1968, 'Uttar Pradesh', 15642.599999999999)
(1968, 'Punjab', 2817.0)
(1969, 'West Bengal', 32176.919999999995)
(1969, 'Uttar Pradesh', 18523.199999999993)
(1969, 'Punjab', 3207.5999999999995)
(1970, 'West Bengal', 31254.420000000002)
(1970, 'Uttar Pradesh', 19593.599999999988)
(1970, 'Punjab', 4110.0)
(1971, 'West Bengal', 29790.6)
(1971, 'Uttar Pradesh', 21183.600000000006)
(1971, 'Punjab', 5514.0)
(1972, 'West Bengal', 31860.179999999993)
(1972, 'Uttar Pradesh', 17781.000000000007)
(1972, 'Punjab', 5730.0)
(1973, 'West Bengal', 32737.259999999995)
(1973, 'Uttar Pradesh', 21204.000000000004)
(1973, 'Punjab', 7074.0)
(1974, 'West Bengal', 37339.98)
(1974, 'Uttar Pradesh', 18990.0)
(1974, 'Punjab', 7074.0)
(1975, 'West Bengal', 38830.56000000001)
(1975, 'Uttar Pradesh', 24020.99999999999)
(1975, 'Punjab', 8694.0)
(1976, 'West Bengal', 33647.88000000001)
(1976, 'Uttar Pradesh', 23973.600000000006)
(1976, 'Punjab', 10446.0)
(1977, 'West Bengal', 43380.54000000001)
(1977, 'Uttar Pradesh', 28318.19999999999)
(1977, 'Punjab', 14466.0)
(1978, 'West Bengal', 35915.400000000016)
(1978, 'Uttar Pradesh', 32822.399999999965)
(1978, 'Punjab', 18438.0)
(1979, 'West Bengal', 34638.060000000005)
(1979, 'Punjab', 18246.0)
(1979, 'Uttar Pradesh', 12923.999999999996)
(1980, 'West Bengal', 44769.41999999998)
(1980, 'Uttar Pradesh', 29803.20000000003)
(1980, 'Punjab', 19338.0)
(1981, 'West Bengal', 34995.6)
(1981, 'Uttar Pradesh', 32872.799999999996)
(1981, 'Punjab', 22530.0)
(1982, 'Uttar Pradesh', 30816.000000000004)
(1982, 'West Bengal', 29694.300000000003)
(1982, 'Punjab', 24882.0)
(1983, 'West Bengal', 47296.14000000003)
(1983, 'Uttar Pradesh', 37955.4)
(1983, 'Punjab', 27216.0)
(1984, 'West Bengal', 48555.060000000005)
(1984, 'Uttar Pradesh', 40081.80000000003)
(1984, 'Punjab', 30342.0)
(1985, 'West Bengal', 47945.52000000001)
(1985, 'Uttar Pradesh', 46483.19999999999)
(1985, 'Punjab', 32688.0)
(1986, 'West Bengal', 50778.11999999999)
(1986, 'Uttar Pradesh', 40282.79999999999)
(1986, 'Punjab', 36132.0)
(1987, 'West Bengal', 55630.439999999995)
(1987, 'Uttar Pradesh', 36247.20000000001)
(1987, 'Punjab', 32586.0)
(1988, 'West Bengal', 63358.97999999999)
(1988, 'Uttar Pradesh', 54403.80000000008)
(1988, 'Punjab', 29652.0)
(1989, 'West Bengal', 65541.42000000001)
(1989, 'Uttar Pradesh', 58706.39999999997)
(1989, 'Punjab', 40182.0)
(1990, 'Uttar Pradesh', 58327.259999999995)
(1990, 'West Bengal', 58008.060000000005)
(1990, 'Punjab', 39066.0)
(1991, 'West Bengal', 67219.2)
(1991, 'Uttar Pradesh', 53502.42000000001)
(1991, 'Punjab', 40488.0)
(1992, 'West Bengal', 63842.57999999994)
(1992, 'Uttar Pradesh', 55174.79999999998)
(1992, 'Punjab', 42186.0)
(1993, 'West Bengal', 67514.28000000003)
(1993, 'Uttar Pradesh', 58127.03999999993)
(1993, 'Punjab', 45869.99999999999)
(1994, 'West Bengal', 68326.92)
(1994, 'Uttar Pradesh', 58994.10000000006)
(1994, 'Punjab', 46212.0)
(1995, 'West Bengal', 66492.0)
(1995, 'Uttar Pradesh', 59064.84000000005)
(1995, 'Punjab', 41070.0)
(1996, 'West Bengal', 75820.68000000001)
(1996, 'Uttar Pradesh', 67497.17999999995)
(1996, 'Punjab', 44004.00000000001)
(1997, 'West Bengal', 79419.53999999995)
(1997, 'Uttar Pradesh', 70421.58000000003)
(1997, 'Punjab', 47340.000000000015)
(1998, 'West Bengal', 79898.70000000003)
(1998, 'Uttar Pradesh', 65289.479999999974)
(1998, 'Punjab', 47958.0)
(1999, 'West Bengal', 82198.07999999994)
(1999, 'Uttar Pradesh', 76141.01999999999)
(1999, 'Punjab', 52296.000000000015)
(2000, 'West Bengal', 74568.29999999999)
(2000, 'Uttar Pradesh', 70367.45999999996)
(2000, 'Punjab', 54942.0)
(2001, 'West Bengal', 91540.07999999999)
(2001, 'Uttar Pradesh', 77408.45999999995)
(2001, 'Punjab', 52944.0)
(2002, 'West Bengal', 86335.44000000002)
(2002, 'Uttar Pradesh', 57783.18)
(2002, 'Punjab', 53279.99999999999)
(2003, 'West Bengal', 87973.43999999999)
(2003, 'Uttar Pradesh', 75147.36)
(2003, 'Punjab', 57935.99999999999)
(2004, 'West Bengal', 89309.45999999999)
(2004, 'Punjab', 62622.0)
(2004, 'Uttar Pradesh', 57597.359999999986)
(2005, 'West Bengal', 87064.79999999997)
(2005, 'Uttar Pradesh', 70723.68000000004)
(2005, 'Punjab', 61158.00000000001)
(2006, 'West Bengal', 88475.40000000001)
(2006, 'Uttar Pradesh', 65641.02)
(2006, 'Punjab', 60828.0)
(2007, 'West Bengal', 88316.99999999996)
(2007, 'Uttar Pradesh', 71479.80000000003)
(2007, 'Punjab', 62934.0)
(2008, 'West Bengal', 90223.79999999999)
(2008, 'Uttar Pradesh', 78485.57999999996)
(2008, 'Punjab', 66000.0)
(2009, 'West Bengal', 86043.60000000003)
(2009, 'Uttar Pradesh', 71040.90000000002)
(2009, 'Punjab', 67416.00000000001)
(2010, 'West Bengal', 80337.72000000007)
(2010, 'Uttar Pradesh', 74181.24)
(2010, 'Punjab', 64914.0)
(2011, 'West Bengal', 87661.68000000002)
(2011, 'Uttar Pradesh', 83697.77999999993)
(2011, 'Punjab', 63252.0)
(2012, 'West Bengal', 89680.44)
(2012, 'Uttar Pradesh', 79093.86)
(2012, 'Punjab', 68339.99999999999)
(2013, 'West Bengal', 92261.27999999997)
(2013, 'Uttar Pradesh', 87533.81999999995)
(2013, 'Punjab', 67602.0)
(2014, 'West Bengal', 95563.20000000004)
(2014, 'Uttar Pradesh', 80076.17999999996)
(2014, 'Punjab', 66642.0)
(2015, 'West Bengal', 95689.55999999997)
(2015, 'Uttar Pradesh', 75190.38000000005)
(2015, 'Punjab', 70938.0)
(2016, 'West Bengal', 90637.92000000001)
(2016, 'Uttar Pradesh', 87004.79999999999)
(2016, 'Punjab', 75828.0)
(2017, 'West Bengal', 93953.63999999998)
(2017, 'Uttar Pradesh', 93308.33999999998)
(2017, 'Punjab', 80292.0)

In [116]:
##1.Year-wise Trend of Rice Production Across States (Top 3)
import pandas as pd

query = '''
WITH TopStates AS (
    SELECT State_Name
    FROM agri_data
    GROUP BY State_Name
    ORDER BY SUM(RICE_PRODUCTION_1000_tons) DESC
    LIMIT 3
)
SELECT
    Year,
    State_Name,
    SUM(RICE_PRODUCTION_1000_tons) AS Total_Rice_Production
FROM agri_data
WHERE State_Name IN (SELECT State_Name FROM TopStates)
GROUP BY Year, State_Name
ORDER BY Year ASC, Total_Rice_Production DESC
'''

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Get column names from cursor
columns = [desc[0] for desc in cursor.description]

# Convert to DataFrame
df_results = pd.DataFrame(results, columns=columns)

# Optional: Show result
print (df_results)

     Year     State_Name  Total_Rice_Production
0    1966    West Bengal               14458.20
1    1966  Uttar Pradesh                7420.50
2    1966         Punjab                1014.00
3    1967    West Bengal               14597.31
4    1967  Uttar Pradesh                8907.00
..    ...            ...                    ...
151  2016  Uttar Pradesh               43502.40
152  2016         Punjab               37914.00
153  2017    West Bengal               46976.82
154  2017  Uttar Pradesh               46654.17
155  2017         Punjab               40146.00

[156 rows x 3 columns]

In [55]:
query = '''
WITH TopStates AS (
    SELECT State_Name
    FROM agri_data
    GROUP BY State_Name
    ORDER BY SUM(RICE_PRODUCTION_1000_tons) DESC
    LIMIT 3
)
SELECT
    Year,
    State_Name,
    SUM(RICE_PRODUCTION_1000_tons) AS Total_Rice_Production
FROM agri_data
WHERE State_Name IN (SELECT State_Name FROM TopStates)
GROUP BY Year, State_Name
ORDER BY Year ASC, Total_Rice_Production DESC
'''

cursor.execute(query)
results = cursor.fetchall()

# Optional: Print results
for row in results:
    print(row)

(1966, 'West Bengal', 4819.400000000001)
(1966, 'Uttar Pradesh', 2473.5)
(1966, 'Punjab', 338.0)
(1967, 'West Bengal', 4865.7699999999995)
(1967, 'Uttar Pradesh', 2968.9999999999995)
(1967, 'Punjab', 415.0)
(1968, 'West Bengal', 5461.490000000001)
(1968, 'Uttar Pradesh', 2607.1000000000004)
(1968, 'Punjab', 469.5)
(1969, 'West Bengal', 5362.82)
(1969, 'Uttar Pradesh', 3087.2)
(1969, 'Punjab', 534.6)
(1970, 'West Bengal', 5209.07)
(1970, 'Uttar Pradesh', 3265.6000000000004)
(1970, 'Punjab', 685.0)
(1971, 'West Bengal', 4965.1)
(1971, 'Uttar Pradesh', 3530.5999999999995)
(1971, 'Punjab', 919.0)
(1972, 'West Bengal', 5310.03)
(1972, 'Uttar Pradesh', 2963.500000000001)
(1972, 'Punjab', 955.0)
(1973, 'West Bengal', 5456.209999999999)
(1973, 'Uttar Pradesh', 3534.0)
(1973, 'Punjab', 1179.0)
(1974, 'West Bengal', 6223.329999999999)
(1974, 'Uttar Pradesh', 3164.9999999999995)
(1974, 'Punjab', 1179.0)
(1975, 'West Bengal', 6471.759999999999)
(1975, 'Uttar Pradesh', 4003.500000000001)
(1975, 'Punjab', 1449.0)
(1976, 'West Bengal', 5607.9800000000005)
(1976, 'Uttar Pradesh', 3995.5999999999995)
(1976, 'Punjab', 1741.0)
(1977, 'West Bengal', 7230.089999999998)
(1977, 'Uttar Pradesh', 4719.699999999999)
(1977, 'Punjab', 2411.0)
(1978, 'West Bengal', 5985.900000000001)
(1978, 'Uttar Pradesh', 5470.400000000001)
(1978, 'Punjab', 3073.0)
(1979, 'West Bengal', 5773.009999999999)
(1979, 'Punjab', 3041.0)
(1979, 'Uttar Pradesh', 2154.0000000000005)
(1980, 'West Bengal', 7461.569999999999)
(1980, 'Uttar Pradesh', 4967.199999999999)
(1980, 'Punjab', 3223.0)
(1981, 'West Bengal', 5832.6)
(1981, 'Uttar Pradesh', 5478.800000000001)
(1981, 'Punjab', 3755.0)
(1982, 'Uttar Pradesh', 5135.999999999999)
(1982, 'West Bengal', 4949.05)
(1982, 'Punjab', 4147.0)
(1983, 'West Bengal', 7882.6900000000005)
(1983, 'Uttar Pradesh', 6325.900000000002)
(1983, 'Punjab', 4536.0)
(1984, 'West Bengal', 8092.51)
(1984, 'Uttar Pradesh', 6680.3)
(1984, 'Punjab', 5057.0)
(1985, 'West Bengal', 7990.920000000001)
(1985, 'Uttar Pradesh', 7747.2)
(1985, 'Punjab', 5448.0)
(1986, 'West Bengal', 8463.02)
(1986, 'Uttar Pradesh', 6713.799999999999)
(1986, 'Punjab', 6022.0)
(1987, 'West Bengal', 9271.74)
(1987, 'Uttar Pradesh', 6041.2)
(1987, 'Punjab', 5431.0)
(1988, 'West Bengal', 10559.830000000002)
(1988, 'Uttar Pradesh', 9067.3)
(1988, 'Punjab', 4942.0)
(1989, 'West Bengal', 10923.57)
(1989, 'Uttar Pradesh', 9784.4)
(1989, 'Punjab', 6697.0)
(1990, 'Uttar Pradesh', 9721.209999999997)
(1990, 'West Bengal', 9668.01)
(1990, 'Punjab', 6511.0)
(1991, 'West Bengal', 11203.2)
(1991, 'Uttar Pradesh', 8917.07)
(1991, 'Punjab', 6748.0)
(1992, 'West Bengal', 10640.43)
(1992, 'Uttar Pradesh', 9195.800000000001)
(1992, 'Punjab', 7031.0)
(1993, 'West Bengal', 11252.380000000001)
(1993, 'Uttar Pradesh', 9687.84)
(1993, 'Punjab', 7645.0)
(1994, 'West Bengal', 11387.82)
(1994, 'Uttar Pradesh', 9832.35)
(1994, 'Punjab', 7702.0)
(1995, 'West Bengal', 11082.0)
(1995, 'Uttar Pradesh', 9844.140000000001)
(1995, 'Punjab', 6845.0)
(1996, 'West Bengal', 12636.78)
(1996, 'Uttar Pradesh', 11249.529999999999)
(1996, 'Punjab', 7334.0)
(1997, 'West Bengal', 13236.589999999998)
(1997, 'Uttar Pradesh', 11736.930000000004)
(1997, 'Punjab', 7890.000000000001)
(1998, 'West Bengal', 13316.45)
(1998, 'Uttar Pradesh', 10881.579999999998)
(1998, 'Punjab', 7993.000000000001)
(1999, 'West Bengal', 13699.68)
(1999, 'Uttar Pradesh', 12690.169999999995)
(1999, 'Punjab', 8716.0)
(2000, 'West Bengal', 12428.05)
(2000, 'Uttar Pradesh', 11727.909999999998)
(2000, 'Punjab', 9157.0)
(2001, 'West Bengal', 15256.68)
(2001, 'Uttar Pradesh', 12901.410000000003)
(2001, 'Punjab', 8824.0)
(2002, 'West Bengal', 14389.24)
(2002, 'Uttar Pradesh', 9630.53)
(2002, 'Punjab', 8880.0)
(2003, 'West Bengal', 14662.239999999998)
(2003, 'Uttar Pradesh', 12524.560000000001)
(2003, 'Punjab', 9656.0)
(2004, 'West Bengal', 14884.91)
(2004, 'Punjab', 10437.0)
(2004, 'Uttar Pradesh', 9599.560000000003)
(2005, 'West Bengal', 14510.800000000001)
(2005, 'Uttar Pradesh', 11787.279999999997)
(2005, 'Punjab', 10192.999999999998)
(2006, 'West Bengal', 14745.899999999998)
(2006, 'Uttar Pradesh', 10940.170000000002)
(2006, 'Punjab', 10138.0)
(2007, 'West Bengal', 14719.5)
(2007, 'Uttar Pradesh', 11913.300000000003)
(2007, 'Punjab', 10489.0)
(2008, 'West Bengal', 15037.300000000003)
(2008, 'Uttar Pradesh', 13080.929999999998)
(2008, 'Punjab', 11000.0)
(2009, 'West Bengal', 14340.599999999997)
(2009, 'Uttar Pradesh', 11840.150000000003)
(2009, 'Punjab', 11236.0)
(2010, 'West Bengal', 13389.62)
(2010, 'Uttar Pradesh', 12363.539999999999)
(2010, 'Punjab', 10819.0)
(2011, 'West Bengal', 14610.28)
(2011, 'Uttar Pradesh', 13949.630000000001)
(2011, 'Punjab', 10542.000000000002)
(2012, 'West Bengal', 14946.74)
(2012, 'Uttar Pradesh', 13182.31)
(2012, 'Punjab', 11390.0)
(2013, 'West Bengal', 15376.879999999997)
(2013, 'Uttar Pradesh', 14588.970000000001)
(2013, 'Punjab', 11267.0)
(2014, 'West Bengal', 15927.2)
(2014, 'Uttar Pradesh', 13346.030000000004)
(2014, 'Punjab', 11107.0)
(2015, 'West Bengal', 15948.260000000002)
(2015, 'Uttar Pradesh', 12531.730000000001)
(2015, 'Punjab', 11823.0)
(2016, 'West Bengal', 15106.32)
(2016, 'Uttar Pradesh', 14500.800000000001)
(2016, 'Punjab', 12638.0)
(2017, 'West Bengal', 15658.94)
(2017, 'Uttar Pradesh', 15551.39)
(2017, 'Punjab', 13382.0)

In [ ]:
##Top 5 Districts by Wheat Yield Increase Over the Last 5 Years
import pandas as pd

# Define the SQL query
query = '''
WITH Yield_Recent AS (
    SELECT
        Dist_Name,
        AVG(WHEAT_YIELD_Kg_per_ha) AS Avg_Recent_Yield
    FROM agri_data
    WHERE Year = (SELECT MAX(Year) FROM agri_data)
    GROUP BY Dist_Name
),
Yield_Past AS (
    SELECT
        Dist_Name,
        AVG(WHEAT_YIELD_Kg_per_ha) AS Avg_Past_Yield
    FROM agri_data
    WHERE Year = (SELECT MAX(Year) FROM agri_data) - 5
    GROUP BY Dist_Name
),
Yield_Change AS (
    SELECT
        r.Dist_Name,
        r.Avg_Recent_Yield,
        p.Avg_Past_Yield,
        (r.Avg_Recent_Yield - p.Avg_Past_Yield) AS Yield_Increase
    FROM Yield_Recent r
    JOIN Yield_Past p ON r.Dist_Name = p.Dist_Name
)
SELECT *
FROM Yield_Change
ORDER BY Yield_Increase DESC
LIMIT 5;
'''

# Execute and fetch into a DataFrame
cursor.execute(query)
results = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]
df_top5 = pd.DataFrame(results, columns=columns)

# Display result
print(df_top5)

    Dist_Name  Avg_Recent_Yield  Avg_Past_Yield  Yield_Increase
0     Vidisha           3900.00         1754.10         2145.90
1  Darjeeling           3011.63         1172.59         1839.04
2    Shajapur           3748.81         2064.96         1683.85
3       Damoh           3500.00         2037.73         1462.27
4    Warangal           1428.57            0.00         1428.57

In [58]:
##States with the Highest Growth in Oilseed Production (5-Year Growth Rate)
import pandas as pd

# Define SQL query
query = '''
WITH Recent AS (
    SELECT 
        State_Name, 
        SUM(OILSEEDS_PRODUCTION_1000_tons) AS Recent_Production
    FROM agri_data
    WHERE Year = (SELECT MAX(Year) FROM agri_data)
    GROUP BY State_Name
),
Past AS (
    SELECT 
        State_Name, 
        SUM(OILSEEDS_PRODUCTION_1000_tons) AS Past_Production
    FROM agri_data
    WHERE Year = (SELECT MAX(Year) FROM agri_data) - 5
    GROUP BY State_Name
),
Growth AS (
    SELECT 
        r.State_Name,
        r.Recent_Production,
        p.Past_Production,
        ROUND(((r.Recent_Production - p.Past_Production) / p.Past_Production) * 100, 2) AS Growth_Percentage
    FROM Recent r
    JOIN Past p ON r.State_Name = p.State_Name
)
SELECT *
FROM Growth
ORDER BY Growth_Percentage DESC
LIMIT 5;
'''

# Execute and fetch result into DataFrame
cursor.execute(query)
results = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

df_growth = pd.DataFrame(results, columns=columns)

# Show the result
print(df_growth)

       State_Name  Recent_Production  Past_Production  Growth_Percentage
0  Andhra Pradesh            2876.52          1988.28              44.67
1         Haryana            1134.70           930.00              22.01
2          Orissa             535.34           689.87             -22.40
3    Chhattisgarh               0.00           223.94            -100.00
4       Telangana               0.00           806.62            -100.00

In [71]:
import pandas as pd

# Step 1: SQL query to fetch relevant data
query = '''
SELECT
    Year,
    State_Name,
    Dist_Name,
    RICE_AREA_1000_ha,
    RICE_PRODUCTION_1000_tons,
    WHEAT_AREA_1000_ha,
    WHEAT_PRODUCTION_1000_tons,
    MAIZE_AREA_1000_ha,
    MAIZE_PRODUCTION_1000_tons
FROM agri_data
WHERE
    RICE_AREA_1000_ha IS NOT NULL AND RICE_PRODUCTION_1000_tons IS NOT NULL AND
    WHEAT_AREA_1000_ha IS NOT NULL AND WHEAT_PRODUCTION_1000_tons IS NOT NULL AND
    MAIZE_AREA_1000_ha IS NOT NULL AND MAIZE_PRODUCTION_1000_tons IS NOT NULL
'''

# Step 2: Execute query and load into DataFrame
cursor.execute(query)
results = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]
df = pd.DataFrame(results, columns=columns)

# Step 3: Calculate correlation for each district
correlation_results = []

# Group by State and District
for (state, district), group in df.groupby(['State_Name', 'Dist_Name']):
    if len(group) >= 2:  # At least two years required for correlation
        rice_corr = group['RICE_AREA_1000_ha'].corr(group['RICE_PRODUCTION_1000_tons'])
        wheat_corr = group['WHEAT_AREA_1000_ha'].corr(group['WHEAT_PRODUCTION_1000_tons'])
        maize_corr = group['MAIZE_AREA_1000_ha'].corr(group['MAIZE_PRODUCTION_1000_tons'])

        correlation_results.append({
            'State_Name': state,
            'Dist_Name': district,
            'Rice_Correlation': rice_corr,
            'Wheat_Correlation': wheat_corr,
            'Maize_Correlation': maize_corr
        })

# Step 4: Create final DataFrame and sort by Rice correlation (or any)
df_correlation = pd.DataFrame(correlation_results)

# Optional: Sort by correlation strength (descending)
df_sorted = df_correlation.sort_values(
    by=['Rice_Correlation', 'Wheat_Correlation', 'Maize_Correlation'],
    ascending=False
)

# Display top correlated districts
print(df_sorted.head(10))

           State_Name      Dist_Name  Rice_Correlation  Wheat_Correlation  \
204         Rajasthan          Churu          1.000000           0.967073
68   Himachal Pradesh  Lahul & Spiti          1.000000           0.877425
212         Rajasthan        Jodhpur          1.000000           0.869458
208         Rajasthan      Jaisalmer          1.000000           0.859036
216         Rajasthan          Sikar          1.000000           0.955854
211         Rajasthan      Jhunjhunu          1.000000           0.967413
66   Himachal Pradesh        Kinnaur          0.999692           0.930053
57            Haryana        Gurgaon          0.992887           0.918515
254     Uttar Pradesh  Buland Shahar          0.992287           0.562433
58            Haryana         Hissar          0.991556           0.988176

     Maize_Correlation
204           0.981231
68            1.000000
212           0.984877
208           0.974767
216           0.978207
211           0.957513
66            1.000000
57            0.922655
254           0.637346
58            0.962064

C:\Users\RNIT\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\numpy\lib\_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\RNIT\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\numpy\lib\_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

In [68]:
cursor.execute("SHOW COLUMNS FROM agri_data")
for col in cursor.fetchall():
    print(col[0])

Year
State_Name
Dist_Name
RICE_AREA_1000_ha
RICE_PRODUCTION_1000_tons
RICE_YIELD_Kg_per_ha
WHEAT_AREA_1000_ha
WHEAT_PRODUCTION_1000_tons
WHEAT_YIELD_Kg_per_ha
KHARIF_SORGHUM_PRODUCTION_1000_tons
RABI_SORGHUM_PRODUCTION_1000_tons
SORGHUM_PRODUCTION_1000_tons
GROUNDNUT_AREA_1000_ha
GROUNDNUT_PRODUCTION_1000_tons
GROUNDNUT_YIELD_Kg_per_ha
SAFFLOWER_AREA_1000_ha
SAFFLOWER_PRODUCTION_1000_tons
SAFFLOWER_YIELD_Kg_per_ha
CASTOR_AREA_1000_ha
CASTOR_PRODUCTION_1000_tons
CASTOR_YIELD_Kg_per_ha
LINSEED_AREA_1000_ha
LINSEED_PRODUCTION_1000_tons
LINSEED_YIELD_Kg_per_ha
SUNFLOWER_AREA_1000_ha
SUNFLOWER_PRODUCTION_1000_tons
SUNFLOWER_YIELD_Kg_per_ha
SOYABEAN_AREA_1000_ha
SOYABEAN_PRODUCTION_1000_tons
SOYABEAN_YIELD_Kg_per_ha
OILSEEDS_AREA_1000_ha
OILSEEDS_PRODUCTION_1000_tons
OILSEEDS_YIELD_Kg_per_ha
SUGARCANE_AREA_1000_ha
SUGARCANE_PRODUCTION_1000_tons
SUGARCANE_YIELD_Kg_per_ha
MAIZE_AREA_1000_ha
MAIZE_PRODUCTION_1000_tons
MAIZE_YIELD_Kg_per_ha
COTTON_PRODUCTION_1000_tons
COTTON_AREA_1000_ha
COTTON_YIELD_Kg_per_ha

In [67]:
##Yearly Production Growth of Cotton in Top 5 Cotton Producing States
# SQL query to calculate yearly production of cotton in top 5 states
query = '''
WITH TopCottonStates AS (
    SELECT State_Name
    FROM agri_data
    GROUP BY State_Name
    ORDER BY SUM(COTTON_PRODUCTION_1000_tons) DESC
    LIMIT 5
)
SELECT
    Year,
    State_Name,
    SUM(COTTON_PRODUCTION_1000_tons) AS Cotton_Production
FROM agri_data
WHERE State_Name IN (SELECT State_Name FROM TopCottonStates)
  AND COTTON_PRODUCTION_1000_tons IS NOT NULL
GROUP BY Year, State_Name
ORDER BY Year ASC, State_Name;
'''

# Execute and convert to DataFrame
cursor.execute(query)
results = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]
df_cotton_growth = pd.DataFrame(results, columns=columns)

# Display the DataFrame
print(df_cotton_growth)

     Year   State_Name  Cotton_Production
0    1966      Gujarat         252.000000
1    1966      Haryana          54.300002
2    1966  Maharashtra         197.000000
3    1966       Punjab         131.599999
4    1966    Telangana           8.600000
..    ...          ...                ...
255  2017      Gujarat        1820.280019
256  2017      Haryana         292.680006
257  2017  Maharashtra        1096.829991
258  2017       Punjab         230.939990
259  2017    Telangana         935.190009

[260 rows x 3 columns]

In [36]:
##Districts with the Highest Groundnut Production in 2020
# SQL query to get top districts by groundnut production in 2020
query = '''
SELECT Year, Dist_Name, State_Name, GROUNDNUT_PRODUCTION_1000_tons
FROM agri_data
WHERE GROUNDNUT_PRODUCTION_1000_tons IS NOT NULL
ORDER BY GROUNDNUT_PRODUCTION_1000_tons DESC
LIMIT 10;
'''

cursor.execute(query)
results = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]
df_debug = pd.DataFrame(results, columns=columns)
print(df_debug)

   Year   Dist_Name      State_Name  GROUNDNUT_PRODUCTION_1000_tons
0  2013    Junagadh         Gujarat                         1688.11
1  2016      Purnea           Bihar                         1510.95
2  2016      Purnea           Bihar                         1510.95
3  2016      Purnea           Bihar                         1510.95
4  2016      Purnea           Bihar                         1510.95
5  2003    Junagadh         Gujarat                         1428.70
6  2013      Rajkot         Gujarat                         1390.06
7  2017  Chhindwara  Madhya Pradesh                         1326.45
8  2017  Chhindwara  Madhya Pradesh                         1326.45
9  2017  Chhindwara  Madhya Pradesh                         1326.45

In [31]:
##Annual Average Maize Yield Across All States
import pandas as pd

# SQL Query to calculate annual average maize yield across all states
query = '''
SELECT 
    Year,
    AVG(MAIZE_YIELD_Kg_per_ha) AS Avg_Maize_Yield_Kg_per_ha
FROM agri_data
WHERE MAIZE_YIELD_Kg_per_ha IS NOT NULL
GROUP BY Year
ORDER BY Year ASC;
'''

# Execute query
cursor.execute(query)

# Fetch result and load into DataFrame
rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]
df_maize_yield = pd.DataFrame(rows, columns=columns)

# Display the DataFrame
print(df_maize_yield)

    Year  Avg_Maize_Yield_Kg_per_ha
0   1966                 449.127547
1   1967                 556.468966
2   1968                 463.623969
3   1969                 528.131903
4   1970                 599.749002
5   1971                 559.994403
6   1972                 489.681832
7   1973                 561.051704
8   1974                 597.602346
9   1975                 640.077010
10  1976                 539.403793
11  1977                 582.209711
12  1978                 573.181253
13  1979                 585.972925
14  1980                 726.472765
15  1981                 663.264213
16  1982                 533.918296
17  1983                 681.844276
18  1984                 581.918908
19  1985                 630.834821
20  1986                 612.735757
21  1987                 584.229356
22  1988                 824.645950
23  1989                 755.397235
24  1990                 735.941613
25  1991                 695.675387
26  1992                 877.745192
27  1993                 777.629999
28  1994                 800.484193
29  1995                 786.986776
30  1996                 842.402326
31  1997                 786.445467
32  1998                 783.184337
33  1999                 802.116560
34  2000                 795.413089
35  2001                 886.425820
36  2002                 706.290513
37  2003                 876.674629
38  2004                 889.384534
39  2005                 959.967331
40  2006                 882.113537
41  2007                 951.284148
42  2008                 934.493603
43  2009                 866.537909
44  2010                1067.796561
45  2011                1066.491543
46  2012                1098.295273
47  2013                1166.899516
48  2014                1088.451358
49  2015                1027.436998
50  2016                1087.426592
51  2017                1271.242065

In [132]:
##.Total Area Cultivated for Oilseeds in Each State
import pandas as pd

# SQL query: Total Oilseeds Area per State
query = '''
SELECT 
    State_Name,
    SUM(OILSEEDS_AREA_1000_ha) AS Total_Oilseeds_Area_1000_ha
FROM agri_data
WHERE OILSEEDS_AREA_1000_ha IS NOT NULL
GROUP BY State_Name
ORDER BY Total_Oilseeds_Area_1000_ha DESC;
'''

# Execute the query
cursor.execute(query)

# Fetch result into DataFrame
rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]
df_oilseeds_area = pd.DataFrame(rows, columns=columns)

# Display the result
print(df_oilseeds_area)

          State_Name  Total_Oilseeds_Area_1000_ha
0     Madhya Pradesh                    569837.76
1          Rajasthan                    427300.41
2        Maharashtra                    402207.48
3            Gujarat                    392174.13
4          Karnataka                    277581.69
5     Andhra Pradesh                    261670.47
6         Tamil Nadu                    168676.92
7      Uttar Pradesh                    129141.21
8             Orissa                    119046.15
9          Telangana                    105880.29
10            Kerala                    103046.82
11           Haryana                     64396.62
12       West Bengal                     60902.28
13      Chhattisgarh                     51801.24
14             Assam                     42529.92
15            Punjab                     26093.79
16             Bihar                     16608.87
17         Jharkhand                      8478.87
18       Uttarakhand                      2980.59
19  Himachal Pradesh                      2397.75

In [ ]:
##Districts with the Highest Rice Yield
query = '''
WITH LatestYear AS (
    SELECT MAX(Year) AS MaxYear
    FROM agri_data
)
SELECT
    Dist_Name,
    State_Name,
    Year,
    RICE_YIELD_Kg_per_ha
FROM agri_data
WHERE Year = (SELECT MaxYear FROM LatestYear)
    AND RICE_YIELD_Kg_per_ha IS NOT NULL
ORDER BY RICE_YIELD_Kg_per_ha DESC
LIMIT 10;
'''

# Execute query
cursor.execute(query)
results = cursor.fetchall()

# Get column names from cursor
columns = [desc[0] for desc in cursor.description]

# Load results into a DataFrame
df_top_rice_yield = pd.DataFrame(results, columns=columns)

# Display the top 10 districts
print(df_top_rice_yield)

  Dist_Name      State_Name  Year  RICE_YIELD_Kg_per_ha
0      Rewa  Madhya Pradesh  2017               5159.93
1      Rewa  Madhya Pradesh  2017               5159.93
2      Rewa  Madhya Pradesh  2017               5159.93
3      Rewa  Madhya Pradesh  2017               5159.93
4      Rewa  Madhya Pradesh  2017               5159.93
5   Sangrur          Punjab  2017               5047.54
6   Sangrur          Punjab  2017               5047.54
7   Sangrur          Punjab  2017               5047.54
8   Sangrur          Punjab  2017               5047.54
9   Sangrur          Punjab  2017               5047.54

In [34]:
##Compare the Production of Wheat and Rice for the Top 5 States Over 10 Years
# SQL query to compare wheat and rice production for top 5 states over 10 years
query = '''
WITH TopStates AS (
    SELECT State_Name
    FROM agri_data
    GROUP BY State_Name
    ORDER BY SUM(RICE_PRODUCTION_1000_tons + WHEAT_PRODUCTION_1000_tons) DESC
    LIMIT 5
),
LatestYears AS (
    SELECT DISTINCT Year
    FROM agri_data
    ORDER BY Year DESC
    LIMIT 10
)
SELECT
    Year,
    State_Name,
    SUM(RICE_PRODUCTION_1000_tons) AS Rice_Production,
    SUM(WHEAT_PRODUCTION_1000_tons) AS Wheat_Production
FROM agri_data
WHERE State_Name IN (SELECT State_Name FROM TopStates)
  AND Year IN (SELECT Year FROM LatestYears)
GROUP BY Year, State_Name
ORDER BY Year ASC, State_Name;
'''

# Execute and convert to DataFrame
cursor.execute(query)
results = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]
df_compare_production = pd.DataFrame(results, columns=columns)

# Display the DataFrame
print(df_compare_production)

    Year      State_Name  Rice_Production  Wheat_Production
0   2008         Haryana         16495.00          56800.00
1   2008  Madhya Pradesh          5184.65          36361.00
2   2008          Punjab         55000.00          78665.00
3   2008   Uttar Pradesh         65404.65         145554.65
4   2008     West Bengal         75186.50           3822.50
5   2009         Haryana         18140.00          52440.00
6   2009  Madhya Pradesh          6778.00          44326.50
7   2009          Punjab         56180.00          75845.00
8   2009   Uttar Pradesh         59200.75         139554.00
9   2009     West Bengal         71703.00           4233.50
10  2010         Haryana         17325.00          57890.00
11  2010  Madhya Pradesh          8833.00          46099.00
12  2010          Punjab         54095.00          82360.00
13  2010   Uttar Pradesh         61817.70         153014.55
14  2010     West Bengal         66948.10           4372.10
15  2011         Haryana         18785.00          65595.00
16  2011  Madhya Pradesh         11102.00          61131.20
17  2011          Punjab         52710.00          88910.00
18  2011   Uttar Pradesh         69748.15         161358.45
19  2011     West Bengal         73051.40           4364.50
20  2012         Haryana         19705.00          55585.00
21  2012  Madhya Pradesh         14855.70          82553.00
22  2012          Punjab         56950.00          83070.00
23  2012   Uttar Pradesh         65911.55         145206.40
24  2012     West Bengal         74733.70           4479.65
25  2013         Haryana         20205.00          59000.00
26  2013  Madhya Pradesh         16608.65          78613.75
27  2013          Punjab         56335.00          88100.00
28  2013   Uttar Pradesh         72944.85         158058.15
29  2013     West Bengal         76884.40           4639.30
30  2014         Haryana         19945.00          52285.00
31  2014  Madhya Pradesh         17613.30          92315.00
32  2014          Punjab         55535.00          75250.00
33  2014   Uttar Pradesh         66730.15         100731.80
34  2014     West Bengal         79636.00           4696.30
35  2015         Haryana         20720.00          56755.00
36  2015  Madhya Pradesh         17063.30          92035.00
37  2015          Punjab         59115.00          80385.00
38  2015   Uttar Pradesh         62658.65         135051.95
39  2015     West Bengal         79741.30           3942.45
40  2016         Haryana         22265.00          61920.00
41  2016  Madhya Pradesh         27496.05         109580.00
42  2016          Punjab         63190.00          88180.00
43  2016   Uttar Pradesh         72504.00         175604.50
44  2016     West Bengal         75531.60           4292.65
45  2017         Haryana         24400.00          61315.00
46  2017  Madhya Pradesh         24495.30         100099.75
47  2017          Punjab         66910.00          89150.00
48  2017   Uttar Pradesh         77756.95         178993.00
49  2017     West Bengal         78294.70           1795.65